.DS_Store
air.toml
ideas to fix college football.docx
tiers/2021.csv
tiers/2022.csv
tiers/2023.csv
tiers/2024.csv
tiers/2025.csv
/tiers
fix_college_football.docx
README.html
README.Rmd
~$x_college_football.docx
README_files/figure-gfm/unnamed-chunk-4-1.png
